:root {
    --main-text: #757575;
    --title-text: #212121;
    --accent: #2196F3;
    --main-bg: #FFFFFF;
    --secondary-bg: #F5F4FA;
    --hero-bg: #2F303A;
}

body {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    background-color: var(--main-bg);
    color: var(--main-text);
}

.section-title {
    color: var(--title-text);
}

.item-title {
    color: var(--title-text);
}

.logo {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
}

.Web-logo {
    color: var(--accent);
}

.hero-title {
    color: var(--main-bg);
    background-color: var(--hero-bg);
}

.hero-button {
    background-color: var(--accent);
    color: var(--main-bg);
}

.navigation-list {
    list-style: none;
}

.navigation-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent);
}

.section-bcg {
    background-color: var(--secondary-bg);
}

.footer-bcg {
    background-color: var(--hero-bg);
}